*target*
*.jar
*.war
*.ear
*.class
#.project
#.metadata

# eclipse specific git ignore
*.pydevproject
bin/**
servers/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

hs_err_pid*

*~
/build/
