{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="starter-template">
	<h1 class="lead"> Disk Catalog Home </h1>
</div>

There are {{ diskCount }} disks in the catalog.

{# <a href="{{path('home')}}menu">Main Menu</a>#}

       
{% endblock %}
