{% extends 'base.html.twig' %}

{% block title %}Manage Disks{% endblock %}

{% block body %}

<div class="starter-template">
	<h1 class="lead"> Manage disks </h1>
</div>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


<a href="{{path('home')}}menu">Main Menu</a>

       
{% endblock %}
